app = "nightscout-web-app"
kill_signal = "SIGINT"
kill_timeout = 5

[build]

[env]
PORT = "8080"

[[services]]
internal_port = 8080
protocol = "tcp"

  [[services.ports]]
  handlers = ["http"]
  port = 80

  [[services.ports]]
  handlers = ["tls", "http"]
  port = 443

  [services.concurrency]
  soft_limit = 20
  hard_limit = 25
